PORT=3001
DATABASE_URL="postgresql://username:password@localhost:5432/db_user_3001?schema=public"
NOT_FOUND_SAVE=Data User Tidak Ditemukan
FOUND_SAVE=Data User berhasil Ditemukan
BAD_REQUEST_SAVE=Parameter ID / Angka tidak valid
DELETE_SAVE=Data User berhasil dihapus
SUCCESS_SAVE=Data User berhasil ditambahkan
UPDATE_SAVE=Data User berhasil diperbarui